.navbar{
    background-color: var(--primary-color);
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}
.icon-bar {
    width: 22px;
    height: 2px;
    background-color: var(--background-color2);
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}
  
.navbar-toggler {
    border: none!important;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
  
.navbar-toggler .middle-bar {
    opacity: 0;
}
  
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
  
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
  
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
  
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.nav-link{
    color:white!important;
    padding:0 25px!important;
    transition: .5s ease;
}

.nav-link:hover{
    color:var(--secondary-color)!important;
}

.form-inline .form-control{
    width:450px!important;
    border:none!important;
    border-radius: 10px;
}

.form-inline .form-control:focus{
    border-color: none!important;
    box-shadow: none!important;
}
.input-group-text{
    background-color: white!important;
    border:none!important;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius:10px!important;
}

.fa-search{
    color:#78DDFA;
}

.wallet{
    background-color:#164A65 ;
    border-radius: 10px;
    padding:8px 15px;
}

.login .fa-user-circle{
    vertical-align: middle;
    font-size:40px;
}

.login span{
    color:#2F9ABD;
    transition: .5s ease;
}

.login-area:hover span{
    color:var(--secondary-color)!important;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .form-inline{
        justify-content: center;
        padding:10px 0;
    }
    .form-inline .form-control{
        width:500px!important;
    }

    .nav-menu{
        padding:20px 0;
        justify-content: center;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .form-inline .form-control{
        width:295px!important;
    }
    
    .search-bar{
        align-self: center;
    }
    .nav-menu{
        align-items: center;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .form-inline .form-control{
          width:295px!important;
      }

      .wallet{
          padding:8px 10px;
      }
}

@media(max-width:720px){
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
    }

    .navbar{
        padding:0!important;
    }

    .form-inline .form-control{
        width:10%!important;
    }

    .nav-menu{
        padding-top:25px;
    }
    .nav-link{
        padding:.5rem 1rem!important;
    }

    .wallet{
        width:100%;
        font-size: 16px;
    }

    .wallet .wallet-text{
        display:none!important;
    }

    .fa-wallet{
        font-size: 25px;
    }
  
}