.curved{
    position: absolute;
    right:10px;
    background-position: cover;
}

.backgroundImage{
    position: absolute;
    background-size: cover;
}

.banner-content{
    padding-top: 50px!important;
    position: relative;
    z-index: 2;
}

.banner-content .left-banner{
    color:white;
}

.banner-content .left-banner h1{
    text-transform: capitalize;
}

.banner-content .left-banner p{
    font-size: 18px;
}

.banner-content .btn-banner{
    background-color: white;
    border-radius: 10px;
    padding:15px 25px;
    font-weight: 600;
    font-size: 20px;
}