#streamer{
    background-color:#0e2641 ;
}

#streamer .section-title p{
    color:var(--secondary-color);
}
#streamer .btn-link{
    padding:10px 20px;
    font-size: 16px!important;
    transition: .5s ease;
}

#streamer .btn-link:hover{
    text-decoration: none;
    background-color: var(--primary-color)!important;
    color:white!important;
}

.laptop-screen{
    display:none;
}

.mobile-screen{
    display:none;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .laptop-screen{
        display:block;
    }

    .large-screen{
        display:none;
    }

    .mobile-screen{
        display:none;
    }
}


@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .laptop-screen{
        display:block;
    }

    .large-screen{
        display:none;
    }

    .mobile-screen{
        display:none;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .laptop-screen{
        display:block;
    }

    .large-screen{
        display:none;
    }

    .mobile-screen{
        display:none;
    }

    #streamers .btn-link{
        padding:5px 10px!important;
    }
}

@media (max-width:720px){
    .laptop-screen{
        display:none;
    }

    .large-screen{
        display:none;
    }

    .mobile-screen{
        display:block;
    }
    .mobile-screen .section-title{
        margin-bottom: 20px;
    }
    .mobile-screen .section-title p{
        margin-bottom:10px;
    }
    .mobile-screen .section-title h1{
        font-size: 25px;
    }

    .mobile-screen .section-title .btn-link{
        font-size: 13px!important;
    }
}