#news .news-container{
    background-color:rgba(250,250,250,.3);
    border-radius: 25px;
    padding:5px 0;
}

#news .news-feed{
    padding:50px 0;
}

#news .btn-news{
    background-color:#6A75E7 ;
    border-radius: 25px;
    padding:5px 10px;
    color:white;
    font-weight: 600;
}

#news .special-name{
    color:var(--secondary-color);
    margin-right:5px;
}

#news .news-card{
    border-radius: 25px;
}

#news .card-title{
    padding-bottom:15px;
    font-weight: 700;
}

#news .news-card .fa-volume-up{
    color:orange;
}

#news .news-card .card-text{
    font-size:16px;
    opacity: .5;
}

#news .news-card .btn-link{
    width:80%;
    transition: .5s ease;
}


#news .card-footer{
    background-color: white;
    border-radius: 20px;
    border:none;
    padding:5px 10px;
}

#news .news-card .btn-link:hover{
    color:var(--primary-color);
    text-decoration: none;
}

#news .news-card .laptopView{
    display:none;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    #news .news-card{
        margin-top:50px;
        width:100%;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #news .btn-news{
        margin-left:15px;
        font-size:12px;
    }
    #news .news-container span{
        font-size:12px;
    }
    #news .news-card .laptopView{
        display:block;
    }

    #news .news-card .normalView{
        display:none;
    }
}
@media(max-width:720px){
    #news{
        margin-top:50px;
    }

    #news .btn-news{
        font-size:12px;
    }

    #news .news-text{
        font-size:12px;
    }

    #news .news-card{
        margin:20px 0;
    }

    #news .news-card .btn-link{
        font-size: 16px;
    }
}