@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./_variables.css");
body,html{
  height:100%;
}
body {
  margin: 0;
  font-family:"Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
.text-light,
.title-text {
  font-family: "Poppins", sans-serif;
}

.paddingX{
  padding:0 200px!important;
}

@media(max-width:720px){
  .row{
    margin:0!important;
  }
}