@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./_variables.css");

body,html{
  height:100%;
}
body {
  margin: 0;
  /* background-color: #0E2641!important; */
  background-color: var(--background-color2)!important;
  font-family:"Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
.text-light,
.title-text {
  font-family: "Poppins", sans-serif;
}

.paddingX{
  padding:0 200px!important;
}

.paddingY{
  padding-top:100px!important;
  padding-bottom:50px!important;
}
.btn-link{
    color:white!important;
    background-color: orange!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    font-size: 20px!important;
    border-radius: 5px!important;
}
/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .row{
    margin:0!important;
  }
  .paddingX{
    padding:0px 20px!important;
  }
  .paddingY{
    padding:50px 0!important;
  }
}
/* ipad pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .paddingX{
      padding:0px 20px!important;
    }
    .paddingY{
      padding:50px 0!important;
    }
}

/* mobile */
@media(max-width:720px){
  .row{
    margin:0!important;
  }

  .paddingX, .paddingY{
    padding:0!important;
  }
  
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
.btn-live{
  background-color: #E82B2B!important;
  border-radius:10px!important;
  font-weight: 600!important;
  color:white!important;
  padding:5px 5px!important;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}