.streamerBox{
    color:white;
    padding:20px 0;
}
.streamerBox:hover{
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
  
.top-box:hover .overlay {
    opacity: 1;
}

.streamerBox .top-box{
    position: relative;
}

.streamerBox .top-box .btn-live{
    position: absolute;
    right:10px;
}

.streamerBox .body-box span{
    color:orange;
    font-size: 13px;
}

.streamerBox .body-box p{
    color:var(--secondary-color);
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.streamerBox .body-box small{
    color:rgba(255,255,255,.3);
}

.streamerBox .button-box .btn-streamer-atn{
    padding:5px 10px;
    display:inline-block;
    border-radius: 25px;
    color:white;
    margin-right:15px;
    transition: .5s ease;
}
.streamerBox .button-box .btn-streamer-atn:hover.high{
    background-color:red!important;
}
.streamerBox .button-box .btn-streamer-atn:hover.low{
    background-color:green!important;
}
.streamerBox .button-box .high{
    background-color: orange;
}

.streamerBox .button-box .low{
    background-color: #050944;
}

@media(max-width:720px){
    .streamerBox .body-box p{
        width:200px!important;
    }
    
    .streamerBox .top-box .btn-live{
        right:5px;
        font-size: 13px;
    }
    .streamerBox .body-box span{
        font-size: 12px;
    }
    .streamerBox .button-box .btn-streamer-atn{
        margin-right:9px;
    }
}